extends ../base

block content 
	include ../_navbar

	h1 Dashboard 
	h2 Hello, #{user.username}

	if user.pfpUrl
		img(src=user.pfpUrl alt="Profile Picture" width="150")
	else
		img(src="../../img/default-user.png" alt="Default Profile" width="150")


	h3 GymSpire Time Status

	// Main recommendation result
	p
		if recommended
			strong Recommended to workout now
		else
			strong Not recommended to workout now
	
	// Explanation message
	p #{message}

	// Supporting info
	p
		| Current time: 
		-
			const period = currentHour >= 12 ? "PM" : "AM";
			const displayHour = currentHour % 12 || 12;
		time #{displayHour}:00 #{period}

	p
		| Current gym load: 
		data(value=currentLoad) #{currentLoad}

	p
		| Crowd level: 
		span #{crowdLevel}

	a(href='/adminDashboard') Dashboard
	a(href='/profile') Profile
	a(href='/workoutPlan') Workout Plan	
	a(href='/challenges') Challenges
	a(href='/workoutLogs') Workout Logs
	a(href='/startSoloWorkout') Start Solo Workout
	a(href='/users') Users
	a(href='/exercisesManagement') Exercises Management

	