extends base

block styles
  link(rel="stylesheet" href="/css/createWorkoutPlan.css")

block content
  // Top Buttons
  .top-buttons
    if user.userType === "user"
      a.dashboard-btn(href='/dashboard') Dashboard
    if user.userType === "coach"
      a.dashboard-btn(href='/coachDashboard') Dashboard
    if user.userType === "admin"
      a.dashboard-btn(href='/adminDashboard') Dashboard
    a.button-logout(href="/logout") Logout

  // Main Workout Page
  .workout-page
    .workout-card
      h1 #{title}
      h2 #{user.username}

      if user.pfpUrl
        img.workout-profile-pic(src=user.pfpUrl alt="Profile Picture")
      else
        img.workout-profile-pic(src="/img/default-user.png" alt="Default Profile")

      // Exercises
      if exercises.length === 0
        p.form-message(style="color:red; font-weight:bold") No exercises available. Please create a workout plan first.
        a(href='/createWorkoutPlan') Create Workout Plan
      else
        form#createWorkoutPlanForm
          each exercise in exercises
            .exercise-row
              input(type="checkbox" name="exerciseIds" value=exercise.exerciseId)
              span.exercise-title= exercise.name
              button.type-info-btn(type="button" data-id=exercise.exerciseId) i

          button(type="submit") Create Workout Plan
          p.form-message#formMessage

  // Modal
  .modal.hidden
    .modal-content
      button#closeModal &times;
      img#modalGif
      p#modalText

  // Pass exercises data safely to JS
  script.
    window.exercisesData = !{JSON.stringify(exercises)};
  
  block scripts
   script(src='/js/createWorkoutPlan.js')
