extends base

block styles
  link(rel="stylesheet" href="/css/dashboard.css")
  link(rel="stylesheet" href="/css/createWorkoutPlan.css")

block content
  h1 #{title}

  h2 #{user.username}

  if user.pfpUrl
    img(src=user.pfpUrl alt="Profile Picture" width="150")
  else
    img(src="/img/default-user.png" alt="Default Profile" width="150")

  a(href="/dashboard") ← Dashboard

  if exercises.length === 0
    p No exercises available.
  else
    form#createWorkoutPlanForm
      .exercise-container
        each exercise, index in exercises
          .exercise-card
            label
              input(type="checkbox" name="exerciseIds" value=exercise._id)
              h3= exercise.name
              p Target: #{exercise.target}

            // Info button to trigger modal
            button.info-btn(
              type="button"
              data-video=exercise.gifURL
              data-instructions=JSON.stringify(exercise.instructions || [])
            ) i

      button(type="submit") Create Workout Plan
      p.form-message#formMessage

  // Modal (hidden by default)
  .modal.hidden#modal
    .modal-content
      button#closeModal ×
      video#modalVideo(autoplay muted loop playsinline)
      p#modalText

block scripts
  script(src='/js/createWorkoutPlan.js')
