extends base

block styles
	link(rel="stylesheet" href="/css/dashboard.css")
block content
	//- include _navbar 
	nav.navbar
		.nav-logo
			a.nav(href='/dashboard') 
				img(src='/img/gymlogo.jpg' alt='logo')
		.nav-center 
			
			//- a(href='/dashboard') Dashboard
			a(href='/challenges') Challenges
			
			a(href='/workoutPlan') Workout Plan	
			a(href='/profile') Profile
			a(href='/workoutLogs') Workout Logs
			a(href='/startSoloWorkout') Start Solo Workout
		.nav-right
			form(action='/api/v1/auth/logout' method='GET')
				button(type='submit' class='logout-btn') Logout
	
	h2 Welcome, #{user.username}

	if user.pfpUrl
		img(src=user.pfpUrl alt="Profile Picture" width="150")
	else
		img(src="/img/default-user.png" alt="Default Profile" width="150")


	h3 GymSpire Time Status

	// Main recommendation result
	p
		if recommended
			strong Recommended to workout now
		else
			strong Not recommended to workout now

	// Explanation message
	p #{message}

	// Supporting info
	p
		| Current time: 
		-
			const period = currentHour >= 12 ? "PM" : "AM";
			const displayHour = currentHour % 12 || 12;
		time #{displayHour}:00 #{period}


	p
		| Current gym load: 
		data(value=currentLoad) #{currentLoad}

	p
		| Crowd level: 
		span #{crowdLevel}

	.clip
		video(autoplay muted loop)
			source(src="/css/vid_dashboard.mp4" type="video/mp4")

	.container
		.image
			img(src='/img/1.jpg' alt='logo')
		.text
			p
				| Paragraph Here 


	

	block scripts
		script(src='/js/dashboard.js')