extends base

block styles
  link(rel="stylesheet" href="/css/editProfile.css")

block content

  .top-bar
    if user.userType === "user"
      a(href='/dashboard') Dashboard
    if user.userType === "coach"
      a(href='/coachDashboard') Dashboard
    if user.userType === "admin"
      a(href='/adminDashboard') Dashboard
    a(href='javascript:history.back()') Back

  .edit-profile-page
    .edit-card

      .edit-card__header
        h1 #{title}

      .edit-avatar-wrap
        if currentUser.pfpUrl
          img.edit-profile-pic#previewImg(src=currentUser.pfpUrl alt="Profile Picture" onerror="this.onerror=null;this.src='/img/default-user.png'")
        else
          img.edit-profile-pic#previewImg(src="/img/default-user.png" alt="Default Profile" onerror="this.onerror=null;this.src='/img/default-user.png'")
        label.avatar-change-btn(for="pfp")
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
            path(d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z')
            circle(cx='12' cy='13' r='4')
          span Change Photo

      form#editProfileForm(enctype="multipart/form-data")
        p.form-message#formMessage

        .form-group
          label(for="username") Username
          input(
            type="text"
            name="username"
            id="username"
            value=currentUser.username
            placeholder="Enter new username"
          )

        .form-group.file-group
          label(for="pfp") Profile Picture
          input(type="file" name="pfp" id="pfp" accept="image/*")
          .file-hint Select an image file (JPG, PNG, GIF)

        button(type="submit")
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
            path(d='M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z')
            polyline(points='17 21 17 13 7 13 7 21')
            polyline(points='7 3 7 8 15 8')
          span Save Changes

block scripts
  script(src='/js/editProfile.js')
