extends base

block styles
  link(rel="stylesheet" href="/css/editProfile.css")

block content
  // 🔹 TOP BAR
  .top-bar
    a.dashboard-btn(href='/dashboard') Dashboard
    a.back-btn(href='javascript:history.back()') Back

  .edit-profile-page
    .edit-card
      h1 #{title}

      // Profile Picture
      if currentUser.pfpUrl
        img.edit-profile-pic(src=currentUser.pfpUrl alt="Profile Picture")
      else
        img.edit-profile-pic(src="/img/default-user.png" alt="Default Profile")

      // Form
      form#editProfileForm(enctype="multipart/form-data")
        p.form-message#formMessage

        label(for="username") Username
        input(
          type="text"
          name="username"
          id="username"
          value=currentUser.username
        )

        label(for="pfp") Profile Picture
        input(type="file" name="pfp" id="pfp" accept="image/*")

        button(type="submit") Save Changes
