extends base

block content
  include _navbar

  h1 #{title}

  h2 #{user.username}

  if user.pfpUrl
    img(src=user.pfpUrl alt="Profile Picture" width="150")
  else
    img(src="/img/default-user.png" alt="Default Profile" width="150")

  form(id="editWorkoutPlanForm")
    each exercise in exercises
      .exercise-card
        label
          // 🔥 CHECKED IF IN WORKOUT PLAN
          input(
            type="checkbox"
            name="exerciseIds"
            value=exercise._id
            checked=selectedIds.includes(exercise._id.toString())
          )

          h3= exercise.name
          p Target: #{exercise.target}

          if exercise.gifURL
            img(src=exercise.gifURL alt=exercise.name width="200")

          if exercise.instructions && exercise.instructions.length
            h4 Instructions:
            ul
              each step in exercise.instructions
                li= step

    button(type="submit") Update Workout Plan

  p.form-message#formMessage

  block scripts
    script(src="/js/editWorkoutPlan.js")