extends base

block styles
  link(rel="stylesheet" href="/css/workoutPlan.css")

block content


  // Top buttons row (Dashboard left, Back right)
  .top-buttons
    a.dashboard-btn(href='/dashboard') Dashboard
    a.back-btn(href='javascript:history.back()') Back

  h1 #{title}
  h2 #{user.username}

  if user.pfpUrl
    img.profile-pic(src=user.pfpUrl alt="Profile Picture")
  else
    img.profile-pic(src="/img/default-user.png" alt="Default Profile")

  if !workoutPlan || workoutPlan.exercises.length === 0
    p You have no exercises in your workout plan yet.
    a.create-plan(href='/createWorkoutPlan') Create a Workout Plan
  else
    each ex, idx in workoutPlan.exercises
      .exercise-card
        h3 #{idx + 1}. #{ex.name}
        if ex.gifURL
          img.exercise-gif(src=ex.gifURL alt=ex.name)
        if ex.instructions && ex.instructions.length
          ul
            each step in ex.instructions
              li= step
        p Target: #{ex.target}

block scripts
  script(src="/js/workoutPlan.js")
