extends base

block styles
  link(rel="stylesheet" href="/css/startSoloWorkout.css")

block content

  .top-bar
    a.top-bar__btn(href=user.userType === 'user' ? '/dashboard' : user.userType === 'coach' ? '/coachDashboard' : '/adminDashboard')
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z")
        polyline(points="9 22 9 12 15 12 15 22")
      span Dashboard
    a.top-bar__btn.top-bar__btn--ghost(href="javascript:history.back()")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        path(d="M19 12H5M5 12l7 7M5 12l7-7")
      span Back

  .page-wrap

    .hero
      .logo-wrapper
        .logo-icon
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
            path(d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z")
        span.logo-text GYM#[span SPIRE]
      .logo-divider

      h1.hero__title Solo Workout
      p.hero__sub Let's get to work, #[strong #{user.username}]

      .avatar-wrap
        if user.pfpUrl
          img.avatar(src=user.pfpUrl alt=user.username)
        else
          img.avatar(src="/img/default-user.png" alt="Default Profile")

    .card

      p.section-label
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
          path(d="M22 11.08V12a10 10 0 1 1-5.93-9.14")
          polyline(points="22 4 12 14.01 9 11.01")
        span Select muscles to train today

      if muscles.length === 0
        .empty-muscles No exercises found in your workout plan.
      else
        form#startSoloWorkoutForm(novalidate)

          .muscle-list
            each m in muscles
              label.muscle-row
                input.muscle-cb(type="checkbox" name="targets" value=m.name)
                .muscle-custom-cb
                  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                    polyline(points="20 6 9 17 4 12")
                if m.gifURL
                  .gif-thumb
                    img(src=m.gifURL alt=m.exerciseName loading="lazy")
                .muscle-info
                  span.muscle-name #{m.name}
                  span.exercise-name #{m.exerciseName}

          p#startMessage.start-message

          button.start-btn(type="submit")
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
              polygon(points="5 3 19 12 5 21 5 3")
            span Start Workout

block scripts
  script(src="/js/startSoloWorkout.js")
