extends ../base

block styles
  link(rel="stylesheet" href="/css/usersAdmin.css")

block content

  // 🔹 Back Button (upper right of the screen)
  a.back-btn(href='/clinicDashboard')  Back

  .clinc-container

    .clinc-header
      h1.page-title #{title}

    .clinc-profile
      h2 Welcome, #{user.username}
      if user.pfpUrl
        img.profile-big(src=user.pfpUrl alt="Profile Picture")
      else
        img.profile-big(src="/img/default-user.png" alt="Default Profile")

    if users.length === 0
      p.no-users No users found.
    else
      .table-wrapper
        table.user-table
          thead
            tr
              th Profile
              th Username
              th Email
              th Status
              th Action
          tbody
            each u in users
              if u.userType === 'user'
                tr
                  td
                    if u.pfpUrl
                      img.profile-small(src=u.pfpUrl)
                    else
                      img.profile-small(src="/img/default-user.png")

                  td #{u.username}
                  td #{u.email}
                  td
                    if u.approvedByClinic === 'pending'
                      span.status.pending Pending
                    else if u.approvedByClinic === 'approved'
                      span.status.approved Approved
                    else
                      span.status.declined Declined

                  td
                    if u.approvedByClinic === 'pending'
                      button.approve-user-btn(data-user-id=u._id) Approve
                      button.decline-user-btn(data-user-id=u._id) Decline

                    else if u.approvedByClinic === 'declined'
                      button.approve-user-btn(data-user-id=u._id) Approve 

                    else if u.approvedByClinic === 'approved'
                      button.decline-user-btn(data-user-id=u._id) Decline 

block scripts
  script(src="/js/users.js")
